<%- include("../partials/header") -%>
<%- include("../partials/navbar") -%>
<%- include("../partials/parallax") -%>
<%- include("../partials/alert") -%>
<section id="page-content">
    <section class="py-5">
        <div class="container">
            <div class="d-flex justify-content-start filtr-controls text-center lead text-uppercase mb-3">
                <span class="active d-inline-block mx-3 py-1 position-relative" data-filter="all">all </span>
                <span class="d-inline-block mx-3 py-1 position-relative" data-filter="1">only my</span>
            </div>
            <div class="row filtr-container">
                <div class="col-12 filtr-item" id="project-item" data-category="2">
                    <div class="row">
                        <div class="col-sm-12 col-md-7 col-lg-8">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Secure shy favour length all twenty denote.</h4>
                                    <p class="card-text">He felicity no an at packages answered opinions juvenile.
                                        Sentiments two occasional affronting solicitude travelling and one contrasted.
                                        Advantages entreaties mr he apartments do. Agreeable promotion eagerness as
                                        we resources household to distrusts.&nbsp;</p>
                                    <hr>
                                    <div id="project-info">
                                        <p>Date:&nbsp;
                                            <span class="badge badge-light">21.02.2020 - 28.02.2020</span><br>
                                        </p>
                                        <p>Manager:&nbsp;
                                            <a href="#">
                                                <span class="badge badge-dark">Zhenya Paitash</span>
                                            </a>
                                        </p>
                                        <p>Developers:&nbsp;
                                            <a class="dev-user" href="#">
                                                <span class="badge badge-warning">Zhenya Paitash</span>
                                            </a>
                                            <a class="dev-user" href="#">
                                                <span class="badge badge-primary">Dima Dimovich</span>
                                            </a>
                                            <a class="dev-user" href="#">
                                                <span class="badge badge-primary">Yana Yanova</span>
                                            </a>
                                        </p>
                                    </div>
                                    <div class="d-flex justify-content-end read-btn">
                                        <a href="project.html">
                                            <button class="button" type="button" data-hover="...on project page">
                                                <span>Read More...</span>
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-5 col-lg-4">
                            <div class="img-thumbnail">
                                <div class="inner">
                                    <a href="#">
                                        <img class="img-fluid" src="/img/walpy_6tSPtbCshRc.jpeg" alt="image not found">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 filtr-item" id="project-item" data-category="1, 2">
                    <div class="row">
                        <div class="col-sm-12 col-md-5 col-lg-4">
                            <div class="img-thumbnail">
                                <div class="inner">
                                    <a href="#">
                                        <img class="img-fluid" src="/img/walpy_fwlEfOEpd_E.jpeg" alt="image not found">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-7 col-lg-8">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Draw from upon here gone add one. Latter remark hunted enough
                                        vulgar say man. Sportsman do offending supported extremity breakfast by
                                        listening.</h4>
                                    <p class="card-text">Their saved linen downs tears son add music. Able rent
                                        long in do we. Celebrated delightful an especially increasing instrument am. You
                                        high bed wish help call draw side. Happiness remainder joy but earnestly for
                                        off. Feel and make two real miss use easy. Do play they miss give so up.
                                        Sportsman do offending supported extremity breakfast by listening. Any delicate
                                        you how kindness horrible outlived servants. Painful so
                                        he an comfort is manners. Advantages entreaties mr he apartments do. Polite do
                                        object at passed it is. Draw from upon here gone add one. Way own uncommonly
                                        travelling now acceptance bed compliment solicitude.
                                        You high bed wish help call draw side. Equally he minutes my hastily. We leaf to
                                        snug on no need. Whatever throwing we on resolved entrance together graceful.
                                        Strictly numerous outlived kindness whatever on
                                        we no on addition. Painful so he an comfort is manners. So by colonel hearted
                                        ferrars.<br></p>
                                    <hr>
                                    <div id="project-info">
                                        <p>Date:&nbsp;
                                            <span class="badge badge-light">21.02.2020 - 28.02.2020</span><br>
                                        </p>
                                        <p>Manager:&nbsp;
                                            <a href="#">
                                                <span class="badge badge-dark">Zhenya Paitash</span>
                                            </a>
                                        </p>
                                        <p class="dev-list">Developers:&nbsp;
                                            <a href="#">
                                                <span class="badge badge-warning">Zhenya Paitash</span>
                                            </a>
                                            <a href="#">
                                                <span class="badge badge-primary">Dima Dimovich</span>
                                            </a>
                                            <a href="#">
                                                <span class="badge badge-primary">Yana Yanova</span>
                                            </a>
                                        </p>
                                    </div>
                                    <div class="d-flex justify-content-start read-btn">
                                        <a href="project.html">
                                            <button class="button" type="button" data-hover="...on project page">
                                                <span>Read More...</span>
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="add-project-btn">
        <p>Create new project</p>
        <a>
            <button class="btn btn-secondary btn-plus" type="button" data-toggle="modal"
                    data-target="#create-new-project">
                <i class="fas fa-plus"></i>
            </button>
        </a>
        <div class="modal fade" role="dialog" tabindex="-1" id="create-new-project">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <form>
                            <input class="form-control" type="hidden" value="222" name="id_post">
                            <label>Name:</label>
                            <input class="form-control form-control-sm" type="text" required=""
                                   placeholder="Name project">
                            <label>Description:</label>
                            <textarea class="form-control form-control-sm" placeholder="Description project" rows="6"
                                      required></textarea>
                            <label>Project image:</label>
                            <input class="form-control form-control-sm" type="url" placeholder="http://">
                            <label>Deadline:</label>
                            <input class="form-control form-control-sm"
                                   type="date">
                            <button class="button" type="submit" data-hover="Are you sure?">
                                <span>Create project</span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<%- include("../partials/footer-visual") -%>
<%- include("../partials/footer") -%>