<%- include("../partials/header") -%>
<%- include("../partials/navbar") -%>
<%- include("../partials/parallax") -%>
<%- include("../partials/alert") -%>
<section id="page-content">
    <section class="py-5">
        <div class="container">
            <div class="d-flex justify-content-start filtr-controls text-center lead text-uppercase mb-3">
                <span class="active d-inline-block mx-3 py-1 position-relative" data-filter="all">all</span>
                <span class="d-inline-block mx-3 py-1 position-relative" data-filter="i">only my</span>
            </div>
            <div class="row filtr-container">

                <% projects.forEach(project => { %>
                    <% if (projects.indexOf(project) % 2 === 0) { %>

                        <!--first project - img right-->
                        <% let developers = [] %>
                        <% projectUsers.some(i => {if (i.id_project === project.id) {developers.push(i)}}) %>

                        <% let cat %>
                        <% if (currentUser.id == project.author || developers.find(i => i.id_user == currentUser.id)) {cat = "i"} %>

                        <div class="col-12 filtr-item" id="project-item" data-category="<%= cat %>">
                            <div class="row">
                                <div class="col-sm-12 col-md-7 col-lg-8">
                                    <div class="card pjcat-<%= project.category %>">
                                        <div class="card-body">
                                            <a class="card-head-block" href="/project/<%= project.id %>">
                                                <h4 class="card-title">
                                                    <span class="article-category">
                                                        #<%= project.category %>
                                                    </span> <%= project.name %>
                                                </h4>
                                            </a>
                                            <p class="card-text"><%= project.description %></p>
                                            <hr>
                                            <div id="project-info" class="text-capitalize">
                                                <p>Date:&nbsp;
                                                    <span class="badge badge-light">
                                                        <%= project.createdAt.toLocaleDateString() %> - <%= project.deadline.toLocaleDateString() %>
                                                    </span><br>
                                                </p>
                                                <p>Manager:&nbsp;
                                                    <a href="/user/<%= project.author %>">
                                                        <span class="badge <%= currentUser.id == project.author ? "badge-warning" : "badge-dark" ; %>">
                                                            <% let mng = userList.find(i => i.id == project.author) %>
                                                            <%= mng.lastname %> <%= mng.firstname %>
                                                        </span>
                                                    </a>
                                                </p>
                                                <p class="dev-list">Developers:
                                                    <% developers.forEach(i => { %>
                                                        <a class="dev-user" href="/user/<%= i.id_user %>">
                                                            <% let user %>
                                                            <% userList.some(j => { if(j.id === i.id_user){return user = `${j.lastname} ${j.firstname}`} }) %>
                                                            <span class="badge <%= currentUser.id == i.id_user ? "badge-warning" : "badge-primary" ; %>">
                                                                <%= user %>
                                                            </span>
                                                        </a>
                                                    <% }) %>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-5 col-lg-4">
                                    <div class="img-thumbnail">
                                        <div class="inner">
                                            <a href="/project/<%= project.id %>">
                                                <img class="img-fluid" src="/img/project-category/<%= project.category %>.jpg">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% } else { %>
                        <!--second project - img left-->

                        <% let developers = [] %>
                        <% projectUsers.some(i => {if (i.id_project === project.id) {developers.push(i)}}) %>

                        <% let cat %>
                        <% if (currentUser.id == project.author || developers.find(i => i.id_user == currentUser.id)) {cat = "i"} %>

                        <div class="col-12 filtr-item" id="project-item" data-category="<%= cat %>">
                            <div class="row">
                                <div class="col-sm-12 col-md-5 col-lg-4">
                                    <div class="img-thumbnail">
                                        <div class="inner">
                                            <a href="/project/<%= project.id %>">
                                                <img class="img-fluid" src="/img/project-category/<%= project.category %>.jpg">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-7 col-lg-8">
                                    <div class="card pjcat-<%= project.category %>">
                                        <div class="card-body">
                                            <a class="card-head-block" href="/project/<%= project.id %>">
                                                <h4 class="card-title">
                                                    <span class="article-category">
                                                        #<%= project.category %>
                                                    </span> <%= project.name %>
                                                </h4>
                                            </a>
                                            <p class="card-text"><%= project.description %></p>
                                            <hr>
                                            <div id="project-info" class="text-capitalize">
                                                <p>Date:&nbsp;
                                                    <span class="badge badge-light"><%= project.createdAt.toLocaleDateString() %> - <%= project.deadline.toLocaleDateString() %></span><br>
                                                </p>
                                                <p>Manager:&nbsp;
                                                    <a href="/user/<%= project.author %>">
                                                        <span class="badge <%= currentUser.id == project.author ? "badge-warning" : "badge-dark" ; %>">
                                                            <% let mng = userList.find(i => i.id == project.author) %>
                                                            <%= mng.lastname %> <%= mng.firstname %>
                                                        </span>
                                                    </a>
                                                </p>
                                                <p class="dev-list">Developers:
                                                    <% developers.forEach(i => { %>
                                                        <a class="dev-user" href="/user/<%= i.id_user %>">
                                                            <% let user %>
                                                            <% userList.some(usr => { if(usr.id === i.id_user){return user = `${usr.lastname} ${usr.firstname}`} }) %>
                                                            <span class="badge <%= currentUser.id == i.id_user ? "badge-warning" : "badge-primary" ; %>">
                                                                <%= user %>
                                                            </span>
                                                        </a>
                                                    <% }) %>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    <% } %>
                <% }) %>

            </div>
        </div>
    </section>

    <% if (prop.project_create) { %>

    <section id="add-project-btn">
        <p>Create new project</p>
        <a>
            <button class="btn btn-secondary btn-plus" type="button" data-toggle="modal"
                    data-target="#create-new-project">
                <i class="fas fa-plus"></i>
            </button>
        </a>
        <div class="modal fade" role="dialog" tabindex="-1" id="create-new-project">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <form action="/project/createproject" method="POST">
                            <input class="form-control" type="hidden" value="<%= currentUser.id %>" name="project[author]">
                            <label>Name:</label>
                            <input class="form-control form-control-sm" placeholder="Name project"
                                   type="text" name="project[name]" required>
                            <label>Description:</label>
                            <textarea class="form-control form-control-sm" placeholder="Description project" rows="6"
                                      name="project[description]" required></textarea>
                            <label>Deadline:</label>
                            <input class="form-control form-control-sm" name="project[deadline]"
                                   type="date" required>
                            <label>Project category:</label>
                            <select class="form-control form-control-sm mdb-select" name="project[category]" required>
                                <option value="business-card" selected>Business Card</option>
                                <option value="company-site">Company Site</option>
                                <option value="online-shop">Online Shop</option>
                                <option value="landing-page">Landing Page</option>
                                <option value="electronic-marketplace">Electronic Marketplace</option>
                                <option value="informational-portal">Informational Portal</option>
                                <option value="nonprofit-website">Non-profit Website</option>
                                <option value="blog">Blog</option>
                                <option value="social-network">Social Network</option>
                                <option value="search-system">Search System</option>
                                <option value="post-service">Post Service</option>
                                <option value="theme-site">Theme Site</option>
                                <option value="personal-site">Personal Site</option>
                                <option value="storage-service">Storage Service</option>
                                <option value="video-hosting">Video Hosting</option>
                                <option value="bulletin-board">Bulletin Board</option>
                                <option value="directory-site">Directory Site</option>
                                <option value="online-encyclopedia">Online Encyclopedia</option>
                                <option value="other">Other</option>
                            </select>
                            <button class="button" type="submit" data-hover="Are you sure?">
                                <span>Create project</span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <% } %>

</section>
<%- include("../partials/footer-visual") -%>
<%- include("../partials/footer") -%>