<%- include("../partials/header") -%>
<%- include("../partials/navbar") -%>
<%- include("../partials/parallax") -%>
<%- include("../partials/alert") -%>
<section id="page-single-project">
    <section id="page-content">
        <div class="container">
            <div class="row">
                <div class="col-12 filtr-item" id="project-item" data-category="2">
                    <div class="row">
                        <div class="col-sm-12 col-md-5 col-lg-4">
                            <div class="img-thumbnail">
                                <div class="inner">
                                    <a>
                                        <img class="img-fluid" src="<%= project.image %>" alt="image not found"
                                             onerror="this.onerror=null;this.src='/img/default-project.jpeg';">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-7 col-lg-8">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title"><%= project.name %></h4>
                                    <p class="card-text"><%= project.description %></p>
                                    <hr>
                                    <div id="project-info">
                                        <p>Date:&nbsp;<span class="badge badge-light">21.02.2020 - 28.02.2020</span><br>
                                        </p>
                                        <p>Manager:&nbsp;<a href="#"><span
                                                        class="badge badge-dark">Zhenya Paitash</span></a></p>
                                        <div class="row" id="developers">
                                            <div class="col-10">
                                                <p class="dev-list">Developers:&nbsp;
                                                    <a class="dev-user" href="#">
                                                        <span class="badge badge-warning">Zhenya Paitash</span>
                                                    </a>
                                                    <a class="dev-user" href="#">
                                                        <span class="badge badge-primary">Dima Dimovich</span>
                                                    </a>
                                                    <a class="dev-user" href="#">
                                                        <span class="badge badge-primary">Yana Yanova</span>
                                                    </a>
                                                </p>
                                            </div>
                                            <div class="col-2">
                                                <a class="add-developer" data-toggle="modal"
                                                   data-target="#add-developer-to-project">
                                                    <i class="fas fa-plus"></i>
                                                </a>
                                                <div class="modal fade" role="dialog" tabindex="-1"
                                                     id="add-developer-to-project">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-body">
                                                                <form>
                                                                    <select class="form-control form-control-sm mdb-select"
                                                                            required="" name="user[role]">
                                                                        <option value="zhenya paitash" selected="">
                                                                            Zhenya Paitash
                                                                        </option>
                                                                        <option value="vasya popkin">Vasya Popkin
                                                                        </option>
                                                                    </select>
                                                                    <button class="button" type="submit"
                                                                            data-hover="Are you sure?">
                                                                        <span>Add developer in project</span>
                                                                    </button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<section id="page-tasks">
    <section class="py-5">
        <div class="container">
            <div class="filtr-controls text-center lead text-uppercase mb-3">
                <span class="active d-inline-block mx-3 py-1 position-relative" data-filter="all">all </span>
                <span class="d-inline-block mx-3 py-1 position-relative" data-filter="1">only my</span>
                <span class="d-inline-block mx-3 py-1 position-relative filtr-waiting" data-filter="w">waiting</span>
                <span class="d-inline-block mx-3 py-1 position-relative filtr-implementation" data-filter="i">implementation</span>
                <span class="d-inline-block mx-3 py-1 position-relative filtr-verifyng" data-filter="v">verifyng</span>
                <span class="d-inline-block mx-3 py-1 position-relative filtr-releasing"
                      data-filter="r">releasing</span>
            </div>
            <div class="row filtr-container">
                <div class="col-sm-12 col-md-6 col-lg-4 filtr-item" data-category="1,w">
                    <div class="card card-hover waiting">
                        <div class="card-body">
                            <a class="card-link" href="#">
                                <h4>Secure shy favour length all twenty denote.&nbsp;<br></h4>
                            </a>
                            <hr>
                            <div id="project-info">
                                <p>Date of creation:&nbsp;<span class="badge badge-light">21.02.2020 - 28.02.2020</span><br></p>
                                <p>Created:&nbsp;<a href="#"><span class="badge badge-dark">Zhenya Paitash</span></a>
                                </p>
                                <p>Developers:&nbsp;
                                    <a class="dev-user" href="#">
                                        <span class="badge badge-warning">Zhenya Paitash</span>
                                    </a>
                                    <a class="dev-user" href="#">
                                        <span class="badge badge-primary">Dima Dimovich</span>
                                    </a>
                                    <a class="dev-user" href="#">
                                        <span class="badge badge-primary">Yana Yanova</span>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 filtr-item" data-category="r">
                    <div class="card card-hover releasing">
                        <div class="card-body">
                            <a class="card-link" href="#">
                                <h4>Secure shy favour length all twenty denote.&nbsp;<br></h4>
                            </a>
                            <hr>
                            <div id="project-info">
                                <p>Date of creation:&nbsp;
                                    <span class="badge badge-light">21.02.2020 - 28.02.2020</span><br>
                                </p>
                                <p>Created:&nbsp;
                                    <a href="#">
                                        <span class="badge badge-dark">Zhenya Paitash</span>
                                    </a>
                                </p>
                                <p>Developers:&nbsp;
                                    <a class="dev-user" href="#">
                                        <span class="badge badge-warning">Zhenya Paitash</span>
                                    </a>
                                    <a class="dev-user" href="#">
                                        <span class="badge badge-primary">Dima Dimovich</span>
                                    </a>
                                    <a class="dev-user" href="#">
                                        <span class="badge badge-primary">Yana Yanova</span>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 filtr-item" data-category="i">
                    <div class="card card-hover implementation">
                        <div class="card-body">
                            <a class="card-link" href="#">
                                <h4>Secure shy favour length all twenty denote.&nbsp;<br></h4>
                            </a>
                            <hr>
                            <div id="project-info">
                                <p>Date of creation:&nbsp;
                                    <span class="badge badge-light">21.02.2020 - 28.02.2020</span>
                                    <br></p>
                                <p>Created:&nbsp;<a href="#"><span class="badge badge-dark">Zhenya Paitash</span></a>
                                </p>
                                <p class="dev-list">Developers:&nbsp;<a class="dev-user" href="#"><span
                                                class="badge badge-warning">Zhenya Paitash</span></a><a class="dev-user"
                                                                                                        href="#"><span
                                                class="badge badge-primary">Dima Dimovich</span></a><a class="dev-user"
                                                                                                       href="#"><span
                                                class="badge badge-primary">Yana Yanova</span></a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 filtr-item" data-category="1,v">
                    <div class="card card-hover verifyng">
                        <div class="card-body">
                            <a class="card-link" href="#">
                                <h4>Secure shy favour length all twenty denote.&nbsp;<br></h4>
                            </a>
                            <hr>
                            <div id="project-info">
                                <p>Date of creation:&nbsp;<span class="badge badge-light">21.02.2020 - 28.02.2020</span><br></p>
                                <p>Create:&nbsp;<a href="#"><span class="badge badge-dark">Zhenya Paitash</span></a>
                                </p>
                                <p class="dev-list">Developers:&nbsp;<a class="dev-user" href="#"><span
                                                class="badge badge-warning">Zhenya Paitash</span></a><a class="dev-user"
                                                                                                        href="#"><span
                                                class="badge badge-primary">Dima Dimovich</span></a><a class="dev-user"
                                                                                                       href="#"><span
                                                class="badge badge-primary">Yana Yanova</span></a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 filtr-item" data-category="1,w">
                    <div class="card card-hover waiting">
                        <div class="card-body">
                            <a class="card-link" href="#">
                                <h4>Secure shy favour length all twenty denote.&nbsp;<br></h4>
                            </a>
                            <hr>
                            <div id="project-info">
                                <p>Date of creation:&nbsp;<span class="badge badge-light">21.02.2020 - 28.02.2020</span><br></p>
                                <p>Created: <a href="#"><span class="badge badge-dark">Zhenya Paitash</span></a>
                                </p>
                                <p class="dev-list">Developers:&nbsp;<a class="dev-user" href="#"><span
                                                class="badge badge-warning">Zhenya Paitash</span></a><a class="dev-user"
                                                                                                        href="#"><span
                                                class="badge badge-primary">Dima Dimovich</span></a><a class="dev-user"
                                                                                                       href="#"><span
                                                class="badge badge-primary">Yana Yanova</span></a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 filtr-item" data-category="v">
                    <div class="card card-hover verifyng">
                        <div class="card-body">
                            <a class="card-link" href="#">
                                <h4>Secure shy favour length all twenty denote.&nbsp;<br></h4>
                            </a>
                            <hr>
                            <div id="project-info">
                                <p>Date of creation:&nbsp;<span class="badge badge-light">21.02.2020 - 28.02.2020</span><br></p>
                                <p>Created:&nbsp;<a href="#"><span class="badge badge-dark">Zhenya Paitash</span></a>
                                </p>
                                <p class="dev-list">Developers:&nbsp;<a class="dev-user" href="#"><span
                                                class="badge badge-warning">Zhenya Paitash</span></a><a class="dev-user"
                                                                                                        href="#"><span
                                                class="badge badge-primary">Dima Dimovich</span></a><a class="dev-user"
                                                                                                       href="#"><span
                                                class="badge badge-primary">Yana Yanova</span></a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <section id="add-project-btn">
                <p>Create new task</p>
                <a>
                    <button class="btn btn-secondary btn-plus" data-toggle="modal" data-target="#create-new-task">
                        <i class="fas fa-plus"></i>
                    </button>
                </a>
                <div class="modal fade" role="dialog" tabindex="-1" id="create-new-task">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <form>
                                    <input class="form-control" type="hidden" value="222" name="id_post">
                                    <label>Name:</label>
                                    <input class="form-control form-control-sm" type="text" required=""
                                           placeholder="Name task">
                                    <label>Description:</label>
                                    <textarea class="form-control form-control-sm" placeholder="Description task"
                                              rows="6" required=""></textarea>
                                    <label>Deadline:</label>
                                    <input class="form-control form-control-sm" type="date">
                                    <label>Status:</label>
                                    <select class="form-control form-control-sm mdb-select" required=""
                                            name="user[role]">
                                        <option value="waiting" selected="">Waiting</option>
                                        <option value="implementation">Implementation</option>
                                        <option value="verifyng">Verifyng</option>
                                        <option value="releasing">Releasing</option>
                                    </select>
                                    <button class="button" type="submit" data-hover="Are you sure?">
                                        <span>Create task</span>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
</section>
<%- include("../partials/footer-visual") -%>
<%- include("../partials/footer") -%>