<section id="page-navbar">
    <nav class="navbar navbar-light navbar-expand-md fixed-top">
        <div class="container-fluid">
            <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
                <span class="sr-only">Toggle navigation</span>
                <i class="fas fa-angle-down"></i>
            </button>
            <div class="collapse navbar-collapse" id="navcol-1">

                <form class="form-inline mr-auto" action="/user" method="GET">
                    <input class="form-control form-control-sm nav-search" type="search"
                           placeholder="search user ..." name="search" required>
                    <button class="btn" type="submit"><i class="fas fa-search"></i></button>
                </form>

                <span id="nav-routes" class="mr-auto navbar-text">
                    <a href="/">
                        <i class="fas fa-chevron-circle-right"></i>
                        Projects
                    </a>
                    <% if (typeof project !== "undefined") { %>
                    <a href="/project/<%= project.id %>">
                        <i class="fas fa-chevron-circle-right"></i>
                        <%= project.name.slice(0,15) %>
                    </a>
                    <% } %>
                    <% if (typeof task !== "undefined") { %>
                    <a href="/project/<%= project.id %>/<%= task.id %>">
                        <i class="fas fa-chevron-circle-right"></i>
                        <%= task.name.slice(0,15) %>
                    </a>
                    <% } %>
                </span>

                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" href="/user/<%= currentUser.id %>">
                            <%= currentUser.firstname %> <%= currentUser.lastname %>
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</section>