<%- include("../partials/header") -%>
<%- include("../partials/navbar") -%>
<%- include("../partials/parallax") -%>
<%- include("../partials/alert") -%>
<section data-aos="fade" data-aos-delay="450" id="page-content">
    <div id="user-info">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-4" data-aos="fade-right" data-aos-delay="550" id="col-user-name">
                    <i class="far fa-user"></i>
                    <h4>Zhenya Paitash, 26</h4>
                    <div class="user-social">
                        <a href="#"><i class="fab fa-github"></i></a>
                        <a href="#"><i class="fab fa-telegram"></i></a>
                        <a href="#"><i class="fab fa-vk"></i></a>
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-google"></i></a>
                    </div>
                </div>
                <div class="col" data-aos="fade-left" data-aos-delay="550" id="col-user-information">
                    <h4>user information</h4>
                    <div class="user-information">
                        <p><strong>Id: </strong>000001</p>
                        <p><strong>Firstuser: </strong>Zhenya</p>
                        <p><strong>Seconduser: </strong>Paitash</p>
                        <p><strong>Age: </strong>26</p>
                        <p><strong>Role: </strong>Developer</p>
                        <p><strong>Phone: </strong>+ 375 (33) 351 35 59</p>
                        <hr>
                        <p><strong>Projects: </strong>1</p>
                        <p><strong>Tasks: 2</strong></p>
                        <p><strong>Comments: </strong>26</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include("../partials/footer-visual") -%>
<%- include("../partials/footer") -%>