<%- include("../partials/header") -%>
<%- include("../partials/navbar") -%>
<%- include("../partials/parallax") -%>
<%- include("../partials/alert") -%>
<section id="page-content">
    <div id="user-info">
        <div class="container">
            <div class="row">
                <div class="col-12" id="col-user-search">
                    <div class="search-user-page">
                        <form class="mr-auto" action="/user" method="GET">
                            <div class="form-row">
                                <div class="col-6">
                                    <input class="form-control form-control-sm nav-search" type="search"
                                           placeholder="search user ..." name="search" minlength="3"
                                           value="<%= search %>" required>
                                </div>
                                <div class="col-6">
                                    <button class="btn" type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col" id="col-user-information">
                    <h4>results search ...</h4>
                    <div class="user-information">
                        <div id="search-results">
                            <div class="row">
                                <% if (firstnameResult.length == 0 && lastnameResult.length == 0) { %>
                                    <h4>Users not found!</h4>
                                <% } else { %>

                                    <% if (firstnameResult.length > 0) { %>
                                        <% firstnameResult.forEach(finduser => { %>
                                            <div class="col-sm-12 col-md-6" id="col-user-name">
                                                <a href="/user/<%= finduser.id %>"><i class="far fa-user"></i></a>
                                                <h4>
                                                    <span style="font-size: 10px"><%= finduser.id %> </span>
                                                    <%= finduser.firstname %> <%= finduser.lastname %>
                                                </h4>
                                            </div>
                                        <% }) %>
                                    <% } %>
                                    <% if (lastnameResult.length > 0) { %>
                                        <% lastnameResult.forEach(finduser => { %>
                                            <div class="col-sm-12 col-md-6" id="col-user-name">
                                                <a href="/user/<%= finduser.id %>"><i class="far fa-user"></i></a>
                                                <h4>
                                                    <span style="font-size: 10px"><%= finduser.id %> </span>
                                                    <%= finduser.firstname %> <%= finduser.lastname %>
                                                </h4>
                                            </div>
                                        <% }) %>
                                    <% } %>

                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 all-users-list" id="col-user-name">
                    <div class="div-users">
                        <h4>all users:</h4>
                        <ul class="list-unstyled text-capitalize">
                            <% users.forEach(user => { %>
                                <li><a href="/user/<%= user.id %>"><%= user.lastname %> <%= user.firstname %></a></li>
                            <% }) %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include("../partials/footer-visual") -%>
<%- include("../partials/footer") -%>