<%- include("../partials/header") -%>
<%- include("../partials/navbar") -%>
<%- include("../partials/parallax") -%>
<%- include("../partials/alert") -%>
<section data-aos="fade" data-aos-delay="450" id="page-content">
    <div id="user-info">
        <div class="container">
            <div class="row text-capitalize">
                <div class="col-sm-12 col-md-6 col-lg-4" data-aos="fade-right" data-aos-delay="550" id="col-user-name">
                    <i class="far fa-user"></i>
                    <h4><%= user.firstname %> <%= user.lastname %>, <%= user.age %></h4>
                    <div class="user-social">
                        <a href="#"><i class="fab fa-github"></i></a>
                        <a href="#"><i class="fab fa-telegram"></i></a>
                        <a href="#"><i class="fab fa-vk"></i></a>
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-google"></i></a>
                    </div>
                </div>
                <div class="col" data-aos="fade-left" data-aos-delay="550" id="col-user-information">
                    <h4>user information</h4>
                    <div class="user-information">
                        <p><strong>Id: </strong><%= user.id %></p>
                        <p><strong>Firstname: </strong><%= user.firstname %></p>
                        <p><strong>Lastname: </strong><%= user.lastname %></p>
                        <p><strong>Age: </strong><%= user.age %></p>
                        <p><strong>Role: </strong><%= role.rolename %></p>
                        <p><strong>Phone: </strong><%= user.phone %></p>
                        <hr>
                        <p><strong>Projects: </strong><%= userProjects.length %></p>
                        <p><strong>Tasks: </strong><%= userTasks.length %></p>
                        <p><strong>Comments: </strong><%= userComments.length %></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include("../partials/footer-visual") -%>
<%- include("../partials/footer") -%>